
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.compactment {
  display: flex;
  justify-content: space-between;
}

.booklist {
  display: flex;
  gap: 20px;
  list-style: none;
  align-self: center;
}

#form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

.nav-list {
  display: flex;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.divider {
  font-size: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

.logo {
  margin-left: 15px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: teal;
}

a:active {
  text-decoration: underline;
}

.sect-1-title {
  text-align: center;
  font-size: 40px;
}

input[type=text] {
  height: 40px;
  width: 400px;
}

input[type=submit] {
  font-size: 20px;
  position: relative;
  left: 75%;
}

.book-shelf {
  border: 3px solid black;
  padding: 25px;
  margin: 50px;
}

.c-text {
  font-size: 25px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  border: 1px solid black;
  font-size: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
